#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  margin: auto;
  width: 800px;
}

form {
  width: 400px;
  margin: 0 auto;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:disabled {
  background-color: #adb5bd;
  cursor: not-allowed;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.table-wrapper {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #ffffff;
  background-color: #3b2730;
  color: #ffffff;
  padding: 16px 16px;
}

td {
  border: 1px solid #fff;
  color: #ffffff;
  padding: 16px 16px;
}

tr:nth-child(even) {
  background-color: #2185cf;
}

tr:nth-child(odd) {
  background-color: #163e55;
}

.inline {
  display: flex;
  gap: 1rem;
}

.inline label {
  width: 250px;
  flex-shrink: 0;
  align-self: start;
}

.current-frame {
  background-color: #ed8100;
  font-weight: bold;
}
